{% extends 'base.html' %}
{% load static %}

<!-- title for the registration page -->
{% block title %}
Registration - Cargo
{% endblock %}

<!-- css link for register page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'css/register.css' %}">
{% endblock %}


<!-- contents for register page -->
{% block content %}

<!-- register-section -->
<section id="register-section">
    <div class="container">
        {% if messages %}
        <!-- message section -->
        <div class="row mt-3">
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                {% for message in messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                {% if message.tags == 'success' %}
                <strong>Success <i class="fas fa-check-circle icon"></i></strong><span class="ms-2">{{message}}</span>
                {% else %}
                <strong>Sorry <i class="fas fa-warning icon"></i></strong><span class="ms-2">{{message}}</span>
                {% endif %}
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row mt-lg-5 mt-2 mb-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 mt-lg-3">
                <!-- register card -->
                {% include 'register/register_card.html' %} 
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>





{% endblock %}