{% extends 'admin_base.html' %}
{% load static %}

<!-- title for the cargo team page -->
{% block title %}
Cargo Team
{% endblock %}

<!-- css link for cargo team  page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'admin/css/cargo_team.css' %}">
{% endblock %}


<!-- contents for cargo team  page -->
{% block content %}



<div class="container-fluid px-4">
    
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none main-heading" href="#">Cargo Team</a></li>
        <li class="breadcrumb-item active">Member Details</li>
    </ol>
    
    <div class="row mt-5 mb-5">
        <!--team members card section -->
        <div class="col-lg-4">
            <a class="text-decoration-none" href="{% url 'team_members' %}">
                <div class="card shadow bg-body-tertiary rounded mt-2" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-4" id="sec1">
                            <div class="icons text-center mt-5 mb-5">
                                <i class="fas fa-user-shield fs-1"></i>
                            </div>
                        </div>
                        <div class="col-8" id="sec2">
                            <div class="card-body">
                                <h5 class="card-title main-heading text-center">Team Members</h5>
                                <p class="text-black-50 mt-3">
                                    View details of all team members. 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <!-- executive members card section -->
        <div class="col-lg-4">
            <a class="text-decoration-none" href="{% url 'executive_members' %}">
                <div class="card shadow bg-body-tertiary rounded mt-2" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-4" id="sec1">
                            <div class="icons text-center mt-5 mb-5">
                                <i class="fas fa-user-cog fs-1"></i>
                            </div>
                        </div>
                        <div class="col-8" id="sec2">
                            <div class="card-body">
                                <h5 class="card-title main-heading text-center">Executive Members</h5>
                                <p class="text-black-50 mt-3">
                                    View details of all executive members.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>


        
        <div class="col-lg-4"></div>

        <div class="col-lg-4"></div>
    </div>
    
    
</div>



{% endblock %}
