.main-heading{
    color:rgb(66, 28, 82);
    
}
.nav-section{
    background-color: rgb(66, 28, 82);
    
}

.booking_request_section{
    background-color: white;
}

.header{
    background-color: rgb(66, 28, 82);
    color: white;
}
#footer{
    background-color: rgb(66, 28, 82);
}

.button2 {
    border-radius: 8px;
    background-color: rgb(66, 28, 82);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 500;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-weight: 500;
}

.button2:hover span {
    padding-right: 20px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}

/* form related css */

.form-control {
    border-color: rgb(66, 28, 82); 
}


.form-check-input[type="checkbox"] {
    border-color: rgb(66, 28, 82); 
}


.form-check-input[type="radio"] {
    border-color: rgb(66, 28, 82); 
}

.form-check-input[type="radio"]:checked {
    background-color: rgb(66, 28, 82); 
}
  

/* styles for success messages */
.alert {
    background-color: rgba(66, 28, 82, 0.95);
    color: white;
    animation: slideInRight 0.5s forwards;
}
  
@keyframes slideInRight {
    from {
    transform: translateX(100%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}
.icon{
    color: rgb(254, 171, 120);
}