
/* css styles for career page */

.main-heading{
    color:rgb(66, 28, 82);
    
}
.nav-section{
    background-color: rgb(66, 28, 82);
    
}
#career-section{
    background-color: white;
}

/* styles for show more, show less in card start */
#ch{
    display: none;
}
#ch:checked ~ .card-content{
    display: block;
}
#ch:checked ~ label{
    display: none;
}
.labelch{
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: rgb(66, 28, 82);
    padding: 3px 13px;
    border-radius: 3px;
}
.card-content{
    display: none;
}
/* styles for show more, show less in card end */

#footer{
    background-color: rgb(66, 28, 82);
}

/* styles for quick apply form */
.header{
    background-color: rgb(66, 28, 82);
    color: rgb(255, 255, 255);
}
.button2 {
    border-radius: 8px;
    background-color: rgb(66, 28, 82);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 500;
}
  
.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-weight: 500;
}

.button2:hover span {
    padding-right: 20px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}

.form-control {
    border-color: rgb(66, 28, 82); 
}

/* CSS for checkboxes */
.form-check-input[type="checkbox"] {
    border-color: rgb(66, 28, 82); 
}

/* CSS for radio buttons */
.form-check-input[type="radio"] {
    border-color: rgb(66, 28, 82);
}
/* CSS for radio buttons */
.form-check-input[type="radio"]:checked {
    background-color: rgb(66, 28, 82); 
}
.form-select {
    border-color: rgb(66, 28, 82); 
}