
/* css styles for register page */

body{
    background-color: rgba(66, 28, 82, 0.9);
}

.card {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(66, 28, 82, 0.9);
}
.sec1{
    background: rgb(253, 228, 212);
    
}
.sec2{
    background: rgb(66, 28, 82);
    
}
.icon1{
    color: rgb(66, 28, 82);
}
.signup{
    color:  rgb(254, 171, 120);
}

.form-control:focus {
    box-shadow: none !important; /* Remove box shadow on focus */
    border-color: rgb(66, 28, 82);
}
.form-select:focus {
    box-shadow: none !important; /* Remove box shadow on focus */
    border-color: rgb(66, 28, 82);
}
.btn1{
    background-color: rgb(109, 64, 128);;
    color: rgba(255, 255, 255, 0.9);
    border: none;
}


/* styles for success messages */
.alert {
    background-color: rgba(66, 28, 82, 0.95);
    color: white;
    animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
    from {
    transform: translateX(100%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}
.icon{
    color: rgb(254, 171, 120);
}

.available{
    color: rgb(254, 171, 120);
   
}
