{% extends 'base.html' %}
{% load static %}

<!-- title for the login page -->
{% block title %}
Login - Cargo
{% endblock %}

<!-- css link for login page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'css/login.css' %}">
{% endblock %}


<!-- contents for login page -->
{% block content %}

<!-- login-section -->
<section id="login-section">
    <div class="container">
        <div class="row mt-lg-5 mt-3 mb-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 mt-lg-5">

                <!-- login card -->
                <div class="card mt-lg-5 bg-body-tertiary rounded" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-6 sec1">
                        <div class="div mt-lg-5">
                            <img src="{% static 'images/register_login/lgbg.jpg' %}" class="img-fluid rounded-start w-100" alt="img">
                        </div>
                      </div>
                      <div class="col-md-6 sec2">
                        <div class="card-body">
                            <h1 class="card-title fw-bold text-center font-monospace">Cargo</h1>
                            <h3 class="font-monospace fw-bold mt-3">Sign In</h3>
                            <h4 class="font-monospace fw-bold">Hello! let's get started</h4>
                            <h5 class="font-monospace">Sign in to continue.</h5>
                            <div class="box mt-3">
                                <form action="{% url 'login_save' %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group flex-nowrap mt-1 mb-1">
                                        <span class="input-group-text icon" id="addon-wrapping"><i class="fas fa-user"></i></span>
                                        <input type="text" name="username" class="form-control " placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" required>
                                    </div>
                                    <div class="input-group flex-nowrap  mt-3 mb-1">
                                        <span class="input-group-text icon" id="addon-wrapping"><i class="fas fa-lock"></i></span>
                                        <input type="password" name="password" class="form-control " placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" required>
                                    </div>
                                    
                                    <button type="submit" class="btn1  form-control mt-3 mb-3 fw-bold">Get Started</button>

                                </form>
                            </div>
                            <div class="row">
                                <div class="col-lg-7"></div>
                                <div class="col-lg-5">
                                    <a href="" class="text-decoration-none text-white">Forget Password?</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="text-center mt-2">Don't have an account? <a class="signup text-decoration-none" href="">Sign Up</a></p>
                                </div>
                            </div>



                          
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<style>
    body{
        background-color: rgba(66, 28, 82, 0.9);
    }
    
    .card {
        color: rgb(255, 255, 255);
        border: none;
    }
    .sec1{
        background: rgb(255, 255, 255);
       
    }
    .sec2{
        background: rgb(66, 28, 82);
       
    }
    .icon{
        color: rgb(66, 28, 82);
    }
    .signup{
        color:  rgb(254, 171, 120);
    }
    
    .form-control:focus {
        box-shadow: none !important; /* Remove box shadow on focus */
       
    }
    .btn1{
        background-color: rgb(109, 64, 128);;
        color: rgba(255, 255, 255, 0.9);
        border: none;
    }
    .btn1:hover{
        background-color: rgb(98, 48, 119);
        color: rgb(255, 255, 255);
        border: none;
        
    }

   
</style>



{% endblock %}
