<!-- section for round images of sercice section in home page -->

{% load static %}

<div class="col-lg-4 text-center">
    <div class="rounded-image d-inline-block mt-lg-1 mt-3">
        <img src="{% static 'images/home_page/s2aeroplane.png' %}" alt="Image">
        <div class="overlay">
            <div class="overlay-text">
              Air Cargo
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 text-center">
    <div class="rounded-image d-inline-block mt-lg-1 mt-3">
        <img src="{% static 'images/home_page/s2ship.png' %}" alt="Image">
        <div class="overlay">
            <div class="overlay-text">
              Sea Cargo
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 text-center">
    <div class="rounded-image d-inline-block mt-lg-1 mt-3">
        <img src="{% static 'images/home_page/s2truck.png' %}" alt="Image">
        <div class="overlay">
            <div class="overlay-text">
              Road Cargo
            </div>
        </div>
    </div>
</div>
