{% load static %}

<!-- section for testimonials -->

<div class="container shadow" style="background-color: rgb(248, 245, 251); border-radius: 10px;border: 2px solid rgb(66, 28, 82); color: rgb(0, 0, 0);height: 100%;">
    <div id="carouselExampleInterval" class="carousel slide carousel-dark p3 mb-5 mt-3" data-bs-ride="carousel">
    <div class="carousel-inner p-3">
        
        <div class="carousel-item active h-100" data-bs-interval="4000" >
            <div class="row mt-2">
                <div class="col-lg-4 mt-lg-4"> 
                    <div class="profile">
                        <div class="img">
                            <img src="{{atestimonial.image.url}}" class="img-fluid mt-3 " alt="img">
                        </div>
                        <div class="row">
                            <h6 class="mt-2 text-center">{{atestimonial.client_name}}</h6>
                            <p class="text-center">{{atestimonial.position}}</p>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="bio">
                        <i class="fa fa-quote-left mt-3"></i>
                        <p class="lh-lg" style="text-align: justify;">{{atestimonial.content}}</p>
                        <i class="fa fa-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
        

        {% for i in rtestimonials %}
        <div class="carousel-item h-100" data-bs-interval="4000">
        <div class="row mt-2">
            <div class="col-lg-4 mt-lg-4">
                <div class="profile">
                    <div class="img">
                        <img src="{{i.image.url}}" class="img-fluid mt-3" alt="img">
                    </div>
                    <div class="row">
                        <h6 class="mt-2 text-center">{{i.client_name}}</h6>
                        <p class="text-center">{{i.position}}</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-8">
                <div class="bio">
                    <i class="fa fa-quote-left mt-3"></i>
                    <p class="lh-lg" style="text-align: justify;">{{i.content}}</p>
                    <i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    </div>
</div>


<style>
    /* Default height for bio class */
    .bio {
        height: 350px; /* Default height for desktop */
    }

    /* Media query for mobile view */
    @media (max-width: 767px) {
        .bio {
            height: 500px; /* Set to auto height for mobile view */
        }
    }
</style>