<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for i in data %}
  <div class="col">
    <div class="card h-100 shadow-lg  rounded" draggable="true">
      
      <div class="card-body">
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3 text-end">
            
            <div class="dropdown card-dropdown">
              <div  type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editmodal{{i.id}}"><i class="fas fa-edit"></i> Edit</a></li>
                <li><a class="dropdown-item" href="{% url 'testimonial_delete' i.id %}"><i class="fas fa-trash"></i> Delete</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            {% if i.image %}
            <img src="{{ i.image.url }}" width="50" height="50" class="rounded-circle" alt="">
          
            {% endif %}
          </div>
          <div class="col-10">
            <div><strong>{{i.client_name}}</strong></div>
            <div class="text-white-50">({{i.position}})</div>
            
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-12">
            <div class="content lh-base">" {{i.content}} "</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
    
</div>