{% extends 'admin_base.html' %}
{% load static %}

<!-- title for the Application list page -->
{% block title %}
Admin-Testimonial Hub
{% endblock %}

<!-- css link for Application list page -->
{% block link %}
<link rel="stylesheet"  href="">
{% endblock %}


<!-- contents for Application list page -->
{% block content %}

<div class="container-fluid px-4">

    <!-- breadcrumb section -->
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none main-heading" href="{% url 'admin_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none main-heading" href="{% url 'career_section' %}">Career Corner</a></li>
        <li class="breadcrumb-item active">Applications</li>
    </ol>

    <div class="row mt-4 mb-5">
        <div class="col-lg-12">
            <!-- table to listout job applicants list -->
            <h6 class="main-heading fw-bold mt-4">Applications - (<strong> {{job_opening.job_title}}</strong> - <span>{{job_opening.job_type}}, {{job_opening.experience}}</span>)</h6>
            <div class="table-responsive mt-5">
                <table class="table table-hover tablestyle">
                    <thead >
                        <tr>
                            <th class="text-white">Sl.No</th>
                            <th class="text-white">First Name</th>
                            <th class="text-white">Last Name</th>
                            <th class="text-white">Applied Date</th>
                            <th class="text-white">Email</th>
                            <th class="text-white">Contact Number</th>
                            <th class="text-white">Resume/CV</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in applications %}
                        <tr class="borderstyle">
                            <td class="text-white">{{forloop.counter}}</td>
                            <td class="text-white">{{i.first_name}}</td>
                            <td class="text-white">{{i.last_name}}</td>
                            <td class="text-white">{{i.date}}</td>
                            <td class="text-white">{{i.email}}</td>
                            <td class="text-white">{{i.contact_number}}</td>
                            <td class="text-white">
                                <a href="" class="btn2 w-25"><i class="fas fa-eye"></i></a>
                                <a href="" class="btn2 w-25"><i class="fas fa-download"></i></a>
                            </td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>








</div>


<style>
    .breadcrumb-item.active{
        color: rgba(66, 28, 82, 0.7);
    }
    .breadcrumb-item a{
        color: rgb(66, 28, 82);
    }
    .breadcrumb-item a:hover{
        color: rgb(66, 28, 82);
    }

    .main-heading{
        color: rgb(66, 28, 82);
    }
    .tablestyle{
        background-color: rgb(66, 28, 82);
        color: white;

    }
    .borderstyle{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .btn2{
        background-color: rgb(255, 255, 255);
        color: rgb(66, 28, 82);
        padding: 5px;
        border-radius: 3px;
        text-decoration: none;
    }
    .btn2:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(66, 28, 82);
        padding: 5px;
        border-radius: 3px;
    }
</style>


{% endblock  %}