{% load static %}

<!-- Service card section -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for service in services %}
  <div class="col">
    <div class="card bg-body-tertiary card1 h-100">
      <img src="{{ service.image.url }}" class="card-img-top h-100" alt="img">
      <div class="card-body">
        <h5 class="card-title main-heading">{{service.title}}</h5>
        <p class="card-text text-black-50" style="text-align: justify;">{{service.description|truncatewords:15}}</p>
        <a href="{% url 'service_details' service.id %}" class="text-decoration-none text-black">read more...</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
