{% load static %}

<!-- Service card section -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card card1 h-100">
        <img src="{% static 'images/services/aircargo.jpg' %}" class="card-img-top h-100" alt="img">
        <div class="card-body">
          <h5 class="card-title main-heading">Air Cargo</h5>
          <p class="card-text text-black-50" style="text-align: justify;">
            Experience the speed and efficiency of air cargo services with Cargo. 
            Our air freight solutions offer swift and reliable transportation for your goods... 
            
          </p>
          <a href="" class="text-decoration-none text-black">read more...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100">
        <img src="{% static 'images/services/seacargo.jpg' %}" class="card-img-top h-100" alt="img">
        <div class="card-body">
          <h5 class="card-title main-heading">Sea Cargo</h5>
          <p class="card-text text-black-50" style="text-align: justify;">
            Dive into the world of sea cargo services with Cargo. 
            Our comprehensive sea freight solutions offer cost-effective and reliable transportation...
            
            
          </p>
          <a href="" class="text-decoration-none text-black">read more...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100">
        <img src="{% static 'images/services/roadcargo.jpg' %}" class="card-img-top h-100" alt="img">
        <div class="card-body">
          <h5 class="card-title main-heading">Road Cargo</h5>
          <p class="card-text text-black-50" style="text-align: justify;">
            Hit the road with confidence using our road cargo services at Cargo. 
            Our efficient and reliable transportation solutions ensure that your goods are delivered safely...
            
          </p>
          <a href="" class="text-decoration-none text-black">read more...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100">
        <img src="{% static 'images/services/doorcargo.jpg' %}" class="card-img-top h-100" alt="img">
        <div class="card-body">
          <h5 class="card-title main-heading">Door to Door Services</h5>
          <p class="card-text text-black-50" style="text-align: justify;">
            At Cargo, we understand the importance of a seamless supply chain,
             which is why we offer comprehensive door-to-door services...
            
          </p>
          <a href="" class="text-decoration-none text-black">read more...</a>
        </div>
      </div>
    </div>
</div>
