{% extends 'base.html' %}
{% load static %}

<!-- title for the service page -->
{% block title %}
Services - Cargo
{% endblock %}

<!-- css link for service page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'css/services.css' %}">
{% endblock %}


<!-- contents for service page -->
{% block content %}

<!-- start nav-section  -->
<div class="nav-section">
    <div class="container">
        <div class="row">
            <!-- include home navbar section -->
            <div class="col-lg-12 mt-lg-5 mt-1">
                {% include 'navbars/services_navbar.html' %}
            </div>
        </div>
        

    </div>
</div>

<!-- end nav-section  -->


<!-- start service-section  -->

<section id="service-section">
    <div class="container">
        <div class="row mt-3 mt-lg-5">
            <div class="col-lg-6 mt-lg-5 mt-0">
              <h2 class="main-heading fw-bold ">Our Services</h2>
              <h6 class="mt-lg-3 mt-0 lh-base" style="text-align: justify;color: rgba(31, 31, 31, 0.8);">
                Explore our comprehensive range of services designed to streamline your shipping process and elevate your logistics operations. 
                From efficient package handling to reliable delivery options, we offer solutions tailored to meet your unique business needs. 
                With a focus on innovation and customer satisfaction, we're committed to providing top-notch services that exceed your expectations. 
                Whether you're a small business or a multinational corporation, you can rely on us to deliver excellence every step of the way.
                Discover how our services can help you optimize your shipping strategy and drive success for your business.
              </h6>
              
            </div>
            <div class="col-lg-6 mt-lg-5 mt-3">
              <img src="{% static 'images/services/services.webp' %}" class="img-fluid  mt-lg-5 mt-2" alt="img">
            </div>
        </div>
    </div>
</section>


<!-- end service-section  -->


<!-- start section2  -->

<section id="section2">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card card1 h-100">
                        <img src="" class="card-img-top h-100 w-100" alt="...">
                        <div class="card-body">
                          <h5 class="card-title main-heading">Air Cargo</h5>
                          <p class="card-text text-black-50" style="text-align: justify;">
                            Experience the speed and efficiency of air cargo services with Cargo. 
                            Our air freight solutions offer swift and reliable transportation for your goods... 
                            
                          </p>
                          <a href="" class="text-decoration-none text-black-50">read more...</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card card1 h-100">
                        <img src="" class="card-img-top h-100 w-100" alt="...">
                        <div class="card-body">
                          <h5 class="card-title main-heading">Sea Cargo</h5>
                          <p class="card-text text-black-50" style="text-align: justify;">
                            Dive into the world of sea cargo services with Cargo. 
                            Our comprehensive sea freight solutions offer cost-effective and reliable transportation...
                            
                            
                          </p>
                          <a href="" class="text-decoration-none text-black-50">read more...</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card card1 h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title main-heading">Road Cargo</h5>
                          <p class="card-text text-black-50" style="text-align: justify;">
                            Hit the road with confidence using our road cargo services at Cargo. 
                            Our efficient and reliable transportation solutions ensure that your goods are delivered safely...
                            
                          </p>
                          <a href="" class="text-decoration-none text-black-50">read more...</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card card1 h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title main-heading">Door to Door Services</h5>
                          <p class="card-text text-black-50" style="text-align: justify;">
                            At Cargo, we understand the importance of a seamless supply chain,
                             which is why we offer comprehensive door-to-door services...
                            
                          </p>
                          <a href="" class="text-decoration-none text-black-50">read more...</a>
                        </div>
                      </div>
                    </div>
                </div>



            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<!-- end section2 -->




<!-- start footer section -->
<section id="footer">
    <div class="container">
      {% include 'footer.html' %}
        
    </div>
      
</section>
  
<!-- end footer section -->





<style>
  .main-heading{
    color:rgb(66, 28, 82);
    
  }
  .nav-section{
    background-color: rgb(66, 28, 82);
      
  }
  #service-section{
    background-color: white;
  }
  .card1 {
  
    background: linear-gradient(to bottom, rgb(242, 241, 241),rgb(253, 244, 239), rgb(254, 238, 254));
    color: rgb(0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
      
  }

  .card1:hover {
    transform: scale3d(1.02,1.02,1.02);
    box-shadow: 0px 0px 10px rgba(5, 0, 7, 0.6);
    cursor: pointer;

  }
  #footer{
    background-color: rgb(66, 28, 82);
    }
</style>


{% endblock %}