
<!-- contact cards section -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-body-tertiary card1 h-100  p-3 mb-5  rounded">
        <div class="card-body">
            <h1 class="main-heading"><i class="fa fa-location-pin-lock"></i></h1>
            <h5 class="card-title main-heading" style="color: rgb(0, 0, 0);">Head Office</h5>
            <p class="text-dark-emphasis">
                1st Floor - Thapasya Building 
                Kakkanad, Cochin
            </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card bg-body-tertiary card1 h-100  p-3 mb-5  rounded">
        <div class="card-body">
            <h1 class="main-heading"><i class="fa fa-location-dot"></i></h1>
            <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Branch Office</h5>
            <p class="text-dark-emphasis">
                1st Floor - Thapasya Building 
                Kakkanad, Cochin
            </p>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-body-tertiary card1 h-100 p-3 mb-5  rounded">
            <div class="card-body">
                <h1 class="main-heading"><i class="fa fa-phone"></i></h1>
                <h5 class="card-title main-heading" style="color: rgb(0, 0, 0);">Let's Talk</h5>
                <p class="text-dark-emphasis">Mob: +91 974 663 2202 </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-body-tertiary card1 h-100 p-3 mb-5  rounded">
            <div class="card-body">
                <h1 class="main-heading"><i class="fa fa-mail-bulk"></i></h1>
                <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Email Us</h5>
                <p class="text-dark-emphasis">Email: Info@Altostechnologies.In</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-body-tertiary card1 h-100  p-3 mb-5  rounded">
            <div class="card-body">
                <h1 class="main-heading"><i class="fas fa-gears"></i></h1>
                <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Services</h5>
                <p class="text-dark-emphasis">Email: services@cargo.In</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-body-tertiary card1 h-100  p-3 mb-5  rounded">
            <div class="card-body">
                <h1 class="main-heading"><i class="fa fa-book"></i></h1>
                <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Careers</h5>
                <p class="text-dark-emphasis">Email: careers@cargo.In</p>
            </div>
        </div>
    </div>
      

</div>
