{% extends 'base.html' %}
{% load static %}

<!-- title for the contact page -->
{% block title %}
Contact-Us - Cargo
{% endblock %}

<!-- css link for contact page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'css/aboutus.css' %}">
{% endblock %}


<!-- contents for contact page -->
{% block content %}

<!-- start nav-section  -->
<div class="nav-section">
    <div class="container">
        <div class="row">
            <!-- include home navbar section -->
            <div class="col-lg-12 mt-lg-5 mt-1">
                {% include 'navbars/contactus_navbar.html' %}
            </div>
        </div>
        

    </div>
</div>

<!-- end nav-section  -->


<!-- start contact-section  -->

<section id="contactus-section">
    <div class="container">
        <div class="row mt-3 mt-lg-5">
            <div class="col-lg-6 mt-lg-5 mt-0">
              <h2 class="main-heading fw-bold ">Contact Us</h2>
              <h6 class="mt-lg-3 mt-0 lh-base" style="text-align: justify;color: rgba(31, 31, 31, 0.8);">
                Thank you for your interest in Cargo. We're here to assist you with any questions, inquiries, 
                or feedback you may have. Whether you're looking to learn more about our services, discuss partnership opportunities, 
                or simply say hello, our team is ready to help. Please feel free to reach out to us using the contact form below, 
                and we'll get back to you as soon as possible. Alternatively, you can also contact us directly via email or phone. 
                We look forward to hearing from you and starting a conversation about how we can support your shipping needs.
              </h6>
              
            </div>
            <div class="col-lg-6 mt-lg-5 mt-3">
              <img src="{% static 'images/contactus/contactbg.png' %}" class="img-fluid  mt-lg-5 mt-2" alt="img">
            </div>
        </div>
    </div>
</section>


<!-- end contact-section  -->


<!-- start section2  -->

<section id="section2">
  <div class="container">
    <div class="row mt-5 mb-5">

      <div class="col-lg-1"></div>
      <div class="col-lg-10">

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card card1 h-100  p-3 mb-5  rounded">
              <div class="card-body">
                <h1 class="main-heading"><i class="fa fa-location-pin-lock"></i></h1>
                <h5 class="card-title main-heading" style="color: rgb(0, 0, 0);">Head Office</h5>
                <p class="text-dark-emphasis">1st Floor - Thapasya Building 
                  Kakkanad, Cochin</p>
              </div>
            </div>
          </div>
          <div class="col">
              <div class="card card1 h-100  p-3 mb-5  rounded">
                <div class="card-body">
                  <h1 class="main-heading"><i class="fa fa-location-dot"></i></h1>
                  <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Branch Office</h5>
                  <p class="text-dark-emphasis">1st Floor - Thapasya Building 
                      Kakkanad, Cochin</p>
                </div>
              </div>
          </div>
          <div class="col">
              <div class="card card1 h-100 p-3 mb-5  rounded">
                <div class="card-body">
                  <h1 class="main-heading"><i class="fa fa-phone"></i></h1>
                  <h5 class="card-title main-heading" style="color: rgb(0, 0, 0);">Let's Talk</h5>
                  <p class="text-dark-emphasis">Mob: +91 974 663 2202 </p>
                </div>
              </div>
          </div>
          <div class="col">
              <div class="card card1 h-100 p-3 mb-5  rounded">
                <div class="card-body">
                  <h1 class="main-heading"><i class="fa fa-mail-bulk"></i></h1>
                  <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Email Us</h5>
                  <p class="text-dark-emphasis">Email: Info@Altostechnologies.In</p>
                </div>
              </div>
          </div>
          <div class="col">
              <div class="card card1 h-100  p-3 mb-5  rounded">
                <div class="card-body">
                  <h1 class="main-heading"><i class="fas fa-gears"></i></h1>
                  <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Services</h5>
                  <p class="text-dark-emphasis">Email: services@cargo.In</p>
                </div>
              </div>
          </div>
          <div class="col">
              <div class="card card1 h-100  p-3 mb-5  rounded">
                <div class="card-body">
                  <h1 class="main-heading"><i class="fa fa-book"></i></h1>
                  <h5 class="card-title main-heading" style="color: rgb(0, 0, 0)">Careers</h5>
                  <p class="text-dark-emphasis">Email: careers@cargo.In</p>
                </div>
              </div>
          </div>
            

        </div>


      </div>
      <div class="col-lg-1"></div>

    </div>
  </div>

</section>

<!-- end section2  -->

<!-- start section3  -->

<section id="section3">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-5">
        <h3 class="main-heading ">Still Confused</h3>
        <img src="{% static 'images/contactus/hc1.webp' %}" alt="" class="img-fluid">
        
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5 mt-3">
        <h5 class="main-heading">Feel Free to Contact Us</h5>
        <p style="text-align: justify;">Fill the form and we will get you as soon as possible.</p>
        <div class="row mt-5">
          <h3 class="text-center main-heading">Get in Touch</h3>
          <div class="form">
            <input type="text" class="form-control mt-3 mb-3" placeholder="Name" >
            <input type="email" class="form-control mt-3 mb-3" placeholder="Email" >
            <input type="number" class="form-control mt-3 mb-3" placeholder="Mobile Number" >
            <input type="Text" class="form-control mt-3 mb-3" placeholder="Facing issue/Help" >
            <div class="row mt-2">
              <div class="col-lg-6">
                <input type="submit" value="Submit" class="btn btn-outline-dark w-50">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<!-- end section2  -->



<!-- start footer section -->
<section id="footer">
    <div class="container">
      {% include 'footer.html' %}
        
    </div>
      
</section>
  
<!-- end footer section -->
  








<style>

</style>


{% endblock %}