{% extends 'team_base.html' %}
{% load static %}

<!-- title for Bill page -->
{% block title %}
Bill Details
{% endblock %}

<!-- css link for  Bill page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'team/css/order.css' %}">
{% endblock %}


<!-- contents for bill -->
{% block content %}



<div class="container-fluid px-4">
    
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none main-heading" href="{% url 'team_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none main-heading" href="{% url 'bill_requests' %}">Bill Requests</a></li>
        <li class="breadcrumb-item active">Bill Details</li>
    </ol>

    {% if messages %}
    <!-- message section -->
    <div class="row mt-3">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
        {% for message in messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% if message.tags == 'success' %}
            <strong>Success <i class="fas fa-check-circle icon"></i></strong><span class="ms-2">{{message}}</span>
            {% else %}
            <strong>Sorry <i class="fas fa-warning icon"></i></strong><span class="ms-2">{{message}}</span>
            {% endif %}
            <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row  mt-5 mb-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <!-- booking details template added -->
            <div id="bill-template-content">
                {% include 'orders/bill_details_template.html' %}
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>


</div>


<


<!--Approve Modal -->
<div class="modal fade " id="approvemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fas fa-money-check-alt"></i> Payment Section</h1>
            </div>
            <div class="modal-body rounded-2 shadow">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    <label for="">Are you sure to continue?</label>
                    
                    <div class="row">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-4">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button type="submit" class="btn1  mt-3 mb-2">Yes</button>
                                <button type="button" class="btn1  mt-3 mb-2" data-bs-dismiss="modal">back</button>
                            </div>
                        </div>
                    </div>
                </form>

                 
            </div>
        
        </div>
    </div>
</div>



{% endblock %}