{% extends 'team_base.html' %}
{% load static %}

<!-- title for order request page -->
{% block title %}
Order Requests
{% endblock %}

<!-- css link for order request page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'team/css/order.css' %}">
{% endblock %}


<!-- contents for order request -->
{% block content %}



<div class="container-fluid px-4">
    
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a class="text-decoration-none main-heading" href="{% url 'team_dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Order Requests</li>
  </ol>

  {% if messages %}
  <!-- message section -->
  <div class="row mt-3">
    <div class="col-lg-7"></div>
    <div class="col-lg-5">
      {% for message in messages %}
      <div class="alert alert-dismissible fade show" role="alert">
        {% if message.tags == 'success' %}
        <strong>Success <i class="fas fa-check-circle icon"></i></strong><span class="ms-2">{{message}}</span>
        {% else %}
        <strong>Sorry <i class="fas fa-warning icon"></i></strong><span class="ms-2">{{message}}</span>
        {% endif %}
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row  mt-5 mb-5">
      <div class="col-lg-12">
          <div class="table-responsive">
            <h6 class="main-heading">Requests</h6>
            <table class="table table-hover tablestyle mt-4">
              <thead >
                <tr>
                  <th class="text-white">Sl.No</th>
                  <th class="text-white">Ordered Date</th>
                  <th class="text-white">Order.No</th>
                  <th class="text-white">Name</th>
                  <th class="text-white">Email</th>
                  <th class="text-white">Contact</th>
                  <th class="text-white">Details</th>
                    
                    
                </tr>
              </thead>
              <tbody>
                {% for i in orders %}
                <tr class="borderstyle">
                  <td class="text-white">{{forloop.counter}}</td>
          
                  
                  <td class="text-white">{{i.date}}</td>
                  <td class="text-white">{{i.booking_order_number}}</td>
                  
                  <td class="text-white">{{i.full_name}}</td>
                  <td class="text-white">{{i.email}}</td>
                  <td class="text-white">{{i.contact_number}}</td>
                
                  
          
                  <td class="text-white">
                    <a href="" class="btn1" data-bs-toggle="modal" data-bs-target="#detailsmodal{{i.id}}"><i class="fas fa-file"></i></a>
          
                    
                  </td>
                
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
      </div>
  </div>


</div>



<!--Details Modal -->
{% for i in orders %}
<div class="modal fade " id="detailsmodal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fas fa-file"></i> Booking Order</h1>
      </div>
      <div class="modal-body rounded-2 shadow">

        <div class="row g-0 mt-3">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4">
            <div class="details2 text-end">
                <p class="fw-bold">{{i.booking_order_number}}</p>
                <p class="fw-bold mt-1">{{i.date}}</p>
            </div>
          </div>
        </div>

        <div class="shipment-details-section">
          <div class="row g-0">
              <div class="col-12">
                  <h5 class="main-heading fw-bold">Shipment Order Details</h5>
              </div>
          </div>
          <div class="row g-0 mt-3 lh-large">
              <div class="col-6">
                  <div class="row">
                      <div class="col-5">Name</div>
                      <div class="col-7 ">{{i.full_name|title}}</div>
                  </div>
                  <div class="row">
                      <div class="col-5">Email</div>
                      <div class="col-7 ">{{i.email}}</div>
                  </div>
                  <div class="row">
                      <div class="col-5">Phone No.</div>
                      <div class="col-7 ">{{i.contact_number}}</div>
                  </div>
                  <div class="row">
                      <div class="col-5">Delivery Option</div>
                      <div class="col-7 fw-bold ">By {{i.delivery_option|title}}</div>
                  </div>
                  <div class="row">
                      <div class="col-5">Delivery Type</div>
                      <div class="col-7 fw-bold ">{{i.delivery_type|title}} Delivery</div>
                  </div>
                  <div class="row">
                      <div class="col-5">Package Weight</div>
                      <div class="col-7 ">{{i.package_weight}} Kg</div>
                  </div>
                  <div class="row">
                      <div class="col-5">No. of Packages</div>
                      <div class="col-7 ">{{i.number_of_packages}}</div>
                  </div>
                  
              </div>
              <div class="col-6"></div>
          </div>
        </div>

        <div class="address-details mt-3">
          {% if i.shipment_type == "Home Pickup" %} 
          <div class="row g-0">
              <div class="col-5">
                  <h5 class="main-heading fw-bold">Pickup Address</h5>
                  <div class="row g-0 mt-3">
                      <div class="col-12">
                          <div class="row">
                              <div class="col-5">Name</div>
                              <div class="col-7 ">{{i.sender_name|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Address</div>
                              <div class="col-7 ">{{i.sender_address|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">City</div>
                              <div class="col-7 ">{{i.sender_city|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Pincode</div>
                              <div class="col-7 fw-bold">{{i.sender_pincode}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">State</div>
                              <div class="col-7 ">{{i.sender_state|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Country</div>
                              <div class="col-7 ">{{i.sender_country|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Contact No.</div>
                              <div class="col-7">{{i.sender_contact_no}}</div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="col-2"></div>
              <div class="col-5">
                  <h5 class="main-heading fw-bold">Delivery Address</h5>
                  <div class="row g-0 mt-3">
                      <div class="col-12">
                          <div class="row">
                              <div class="col-5">Name</div>
                              <div class="col-7">{{i.receiver_name|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Address</div>
                              <div class="col-7 ">{{i.receiver_address|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">City</div>
                              <div class="col-7 ">{{i.receiver_city|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Pincode</div>
                              <div class="col-7 fw-bold">{{i.receiver_pincode}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">State</div>
                              <div class="col-7 ">{{i.receiver_state|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Country</div>
                              <div class="col-7 ">{{i.receiver_country|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Contact No.</div>
                              <div class="col-7 ">{{i.receiver_contact_no}}</div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          {% else %}
          <div class="row">
              <div class="col-6">
                  <h5 class="main-heading fw-bold">Delivery Address</h5>
                  <div class="row g-0 mt-3">
                      <div class="col-12">
                          <div class="row">
                              <div class="col-5">Name</div>
                              <div class="col-7 ">{{i.receiver_name|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Address</div>
                              <div class="col-7 ">{{i.receiver_address|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">City</div>
                              <div class="col-7 ">{{i.receiver_city|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Pincode</div>
                              <div class="col-7 fw-bold">{{i.receiver_pincode}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">State</div>
                              <div class="col-7 ">{{i.receiver_state|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Country</div>
                              <div class="col-7 ">{{i.receiver_country|title}}</div>
                          </div>
                          <div class="row">
                              <div class="col-5">Contact No.</div>
                              <div class="col-7 ">{{i.receiver_contact_no}}</div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="col-2"></div>
              <div class="col-5"></div>
          </div>
          {% endif %}
        </div>

          
        
      </div>
      
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}