{% extends 'team_base.html' %} {% load static %}

<!-- title for  pickup orders page -->
{% block title %} Pickup Requests {% endblock %}

<!-- css link for pickup orders page -->
{% block link %}
<link rel="stylesheet" href="{% static 'team/css/order.css' %}" />
{% endblock %}

<!-- contents for pickup orders -->
{% block content %}

<div class="container-fluid px-4">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item">
      <a
        class="text-decoration-none main-heading"
        href="{% url 'team_dashboard' %}"
        >Dashboard</a
      >
    </li>
    <li class="breadcrumb-item active">Pickup Requests</li>
  </ol>

  {% if messages %}
  <!-- message section -->
  <div class="row mt-3">
    <div class="col-lg-7"></div>
    <div class="col-lg-5">
      {% for message in messages %}
      <div class="alert alert-dismissible fade show" role="alert">
        {% if message.tags == 'success' %}
        <strong>Success <i class="fas fa-check-circle icon"></i></strong
        ><span class="ms-2">{{message}}</span>
        {% else %}
        <strong>Sorry <i class="fas fa-warning icon"></i></strong
        ><span class="ms-2">{{message}}</span>
        {% endif %}
        <button
          type="button"
          class="btn-close btn-close-white shadow-none"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row mt-5">
    <p style="text-align: justify">
      Note* -
      <span class="text-warning-emphasis"
        >Please select a city to get pickup orders in your area.</span
      >
    </p>
    <div class="col-lg-3">
      <select class="form-select mt-1 mb-1" name="pickup_city" id="pickup_city">
        <option value="" hidden>Select city</option>
        {% for i in city %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-select mt-1 mb-1" name="filter_date" id="filter_date">
        <option value="All">All</option>
        <option value="Today">Today</option>
      </select>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-lg-12">
      <div class="table-responsive">
        <h6 class="main-heading">Orders</h6>

        <table class="table table-hover tablestyle mt-4">
          <thead>
            <tr>
              <th class="text-white">Sl.No</th>
              <th class="text-white">Ordered Date</th>
              <th class="text-white">Order.No</th>
              <th class="text-white">Name</th>
              <th class="text-white">Email</th>
              <th class="text-white">Contact</th>
              <th class="text-white">Pickup City</th>
              <th class="text-white">Pickp Date</th>
              <th class="text-white">Response</th>
              <th class="text-white">Details</th>
            </tr>
          </thead>
          <tbody id="ordersTable">
            {% for i in orders %}
            <tr class="borderstyle">
              <td class="text-white">{{forloop.counter}}</td>

              <td class="text-white">{{i.date|date:"d-m-Y"}}</td>
              <td class="text-white">{{i.booking_order_number}}</td>

              <td class="text-white">{{i.full_name}}</td>
              <td class="text-white">{{i.email}}</td>
              <td class="text-white">{{i.contact_number}}</td>
              <td class="text-white">{{i.sender_city}}</td>
              <td class="text-white">{{i.pickup_date|date:"d-m-Y"}}</td>
              <td class="text-white text-start">
                <div>
                  <textarea  rows="3" cols="31"  readonly>{{i.description}}</textarea>
                </div>
              </td>

              <td class="text-white">
                <a href="{% url 'pickup_order_details' i.id %}" class="btn1"
                  ><i class="fas fa-file"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Details Modal -->
{% for i in orders %}
<div
  class="modal fade"
  id="detailsmodal{{i.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="fas fa-file"></i> Booking Order
        </h1>
      </div>
      <div class="modal-body rounded-2 shadow">
        <div class="row g-0 mt-3">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4">
            <div class="details2 text-end">
              <p class="fw-bold">{{i.booking_order_number}}</p>
              <p class="fw-bold mt-1">{{i.date}}</p>
            </div>
          </div>
        </div>

        <div class="shipment-details-section">
          <div class="row g-0">
            <div class="col-12">
              <h5 class="main-heading fw-bold">Shipment Order Details</h5>
            </div>
          </div>
          <div class="row g-0 mt-3 lh-large">
            <div class="col-6">
              <div class="row">
                <div class="col-5">Name</div>
                <div class="col-7">{{i.full_name|title}}</div>
              </div>
              <div class="row">
                <div class="col-5">Email</div>
                <div class="col-7">{{i.email}}</div>
              </div>
              <div class="row">
                <div class="col-5">Phone No.</div>
                <div class="col-7">{{i.contact_number}}</div>
              </div>
              <div class="row">
                <div class="col-5">Delivery Option</div>
                <div class="col-7 fw-bold">By {{i.delivery_option|title}}</div>
              </div>
              <div class="row">
                <div class="col-5">Delivery Type</div>
                <div class="col-7 fw-bold">
                  {{i.delivery_type|title}} Delivery
                </div>
              </div>
              <div class="row">
                <div class="col-5">Package Weight</div>
                <div class="col-7">{{i.package_weight}} Kg</div>
              </div>
              <div class="row">
                <div class="col-5">No. of Packages</div>
                <div class="col-7">{{i.number_of_packages}}</div>
              </div>
            </div>
            <div class="col-6"></div>
          </div>
        </div>

        <div class="address-details mt-3">
          {% if i.shipment_type == "Home Pickup" %}
          <div class="row g-0">
            <div class="col-5">
              <h5 class="main-heading fw-bold">Pickup Address</h5>
              <div class="row g-0 mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">Name</div>
                    <div class="col-7">{{i.sender_name|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Address</div>
                    <div class="col-7">{{i.sender_address|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">City</div>
                    <div class="col-7">{{i.sender_city|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Pincode</div>
                    <div class="col-7 fw-bold">{{i.sender_pincode}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">State</div>
                    <div class="col-7">{{i.sender_state|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Country</div>
                    <div class="col-7">{{i.sender_country|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Contact No.</div>
                    <div class="col-7">{{i.sender_contact_no}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
              <h5 class="main-heading fw-bold">Delivery Address</h5>
              <div class="row g-0 mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">Name</div>
                    <div class="col-7">{{i.receiver_name|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Address</div>
                    <div class="col-7">{{i.receiver_address|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">City</div>
                    <div class="col-7">{{i.receiver_city|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Pincode</div>
                    <div class="col-7 fw-bold">{{i.receiver_pincode}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">State</div>
                    <div class="col-7">{{i.receiver_state|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Country</div>
                    <div class="col-7">{{i.receiver_country|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Contact No.</div>
                    <div class="col-7">{{i.receiver_contact_no}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-6">
              <h5 class="main-heading fw-bold">Delivery Address</h5>
              <div class="row g-0 mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">Name</div>
                    <div class="col-7">{{i.receiver_name|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Address</div>
                    <div class="col-7">{{i.receiver_address|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">City</div>
                    <div class="col-7">{{i.receiver_city|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Pincode</div>
                    <div class="col-7 fw-bold">{{i.receiver_pincode}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">State</div>
                    <div class="col-7">{{i.receiver_state|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Country</div>
                    <div class="col-7">{{i.receiver_country|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Contact No.</div>
                    <div class="col-7">{{i.receiver_contact_no}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5"></div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}



<script>
  $(document).ready(function() {
    $('#pickup_city, #filter_date').change(fetchOrders);
  });

  function fetchOrders() {
    var city = $("#pickup_city").val();
    var filterDate = $("#filter_date").val();

    $.ajax({
      url: '{% url "pickup_orders_by_city" %}',
      type: "GET",
      data: {
        city: city,
        filter_date: filterDate
      },
      success: function(response) {
        var ordersTable = $("#ordersTable");
        ordersTable.empty();

        response.orders.forEach(function(order, index) {
          ordersTable.append(`
            <tr class="borderstyle">
              <td class="text-white">${index + 1}</td>
              <td class="text-white">${order.date}</td>
              <td class="text-white">${order.booking_order_number}</td>
              <td class="text-white">${order.full_name}</td>
              <td class="text-white">${order.email}</td>
              <td class="text-white">${order.contact_number}</td>
              <td class="text-white">${order.sender_city}</td>
              <td class="text-white">${order.pickup_date}</td>
              <td class="text-white">
                <div>
                  <textarea  rows="3" cols="31" readonly>${order.description}</textarea>
                </div>
              </td>
              <td class="text-white">
                <a href="/pickup-request/${order.id}/" class="btn1">
                  <i class="fas fa-file"></i>
                </a>
              </td>
            </tr>
          `);
        });
      },
      error: function(error) {
        console.log(error);
      },
    });
  }
</script>


{% endblock %}
