{% extends 'base.html' %} {% load static %}

<!-- title for the tracking details page -->
{% block title %} Shipment Tracking - Cargo {% endblock %}

<!-- css link for tracking details -->
{% block link %}
<link rel="stylesheet" href="{% static 'css/tracking.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
{% endblock %}

<!-- contents for tracking details -->
{% block content %}

<!-- start nav-section  -->
<div class="nav-section">
  <div class="container">
    <div class="row">
      <!-- include home navbar section -->
      <div class="col-lg-12 mt-lg-5 mt-1">
        {% include 'cusmod_navbar.html' %}
      </div>
    </div>
  </div>
</div>
<!-- end nav-section  -->

<!-- start message-section  -->

<section id="message-section">
  <div class="container">
    {% if messages %}
    <!-- message section -->
    <div class="row mt-3">
      <div class="col-lg-7"></div>
      <div class="col-lg-5">
        {% for message in messages %}
        <div class="alert alert-dismissible fade show" role="alert">
          <strong>Success <i class="fas fa-check-circle icon"></i></strong
          ><span class="ms-2"
            >Your order is placed, please wait for confirmation.</span
          >
          <button
            type="button"
            class="btn-close btn-close-white shadow-none"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>

<!-- end message-section  -->

<!-- start tracking details section -->

<section id="tracking-details-section">
<div class="row mt-lg-5 mb-lg-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 mt-lg-5 mb-lg-5">
        <div class="container padding-bottom-3x mb-1">
            <div class="card mt-3 mb-5 shadow  bg-body-tertiary rounded">
                <div class="p-4 text-center text-white text-lg bgcolour rounded-top"><span class="text-uppercase">Tracking Number - </span><span class="text-medium">{{data.tracking_number}}</span></div>
                <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Order Number:</span> {{data.shipment.booking_order_number}}</div>
                {% if data.is_returned %}
                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Return Status:</span> {{data.return_status}}</div>
                {% else %}
                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Status:</span> {{data.status}}</div>
                {% endif %}
                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Expected Date:</span> {{data.estimated_delivery_date}}</div>
                </div>
                <div class="card-body">
                <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                    <div class="step completed" id="step1">
                    <div class="step-icon-wrap">
                        <div class="step-icon"><i class="fas fa-box"></i></div>
                    </div>
                    <h4 class="step-title">Processing</h4>
                    </div>
                    <div class="step" id="step2">
                    <div class="step-icon-wrap">
                        <div class="step-icon"><i class="fas fa-paper-plane"></i></div>
                    </div>
                    <h4 class="step-title">Dispatched</h4>
                    </div>
                    <div class="step" id="step3">
                    <div class="step-icon-wrap">
                        <div class="step-icon"><i class="fas fa-shipping-fast"></i></div>
                    </div>
                    <h4 class="step-title">In Transit</h4>
                    </div>
                    <div class="step" id="step4">
                    <div class="step-icon-wrap">
                        <div class="step-icon"><i class="fas fa-warehouse"></i></div>
                    </div>
                    <h4 class="step-title">Arrived at Destination Hub</h4>
                    </div>
                    <div class="step" id="step5">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="fas fa-route"></i></div>
                        </div>
                        <h4 class="step-title">Out for delivery</h4>
                        </div>
                    <div class="step" id="step6">
                    <div class="step-icon-wrap">
                        <div class="step-icon"><i class="fas fa-home"></i></div>
                    </div>
                    <h4 class="step-title">Delivered</h4>
                    </div>
                </div>
                </div>
            </div>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
                <div class="text-end"><a class="btn1 btn-rounded btn-sm text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#detailsmodal"><span class="mx-2">More Details</span></a></div>
              
            </div>
            
        </div>
    
    </div>
    <div class="col-lg-1"></div>

</div>    
</section>

<!-- end tracking section -->




<!-- start footer section -->

<section id="footer">
  <div class="container">{% include 'footer.html' %}</div>
</section>

<!-- end footer section -->



<!--Details Modal -->
<div
  class="modal fade"
  id="detailsmodal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="fas fa-file"></i> Order Details
        </h1>
      </div>
      <div class="modal-body rounded-2 shadow bg-body-tertiary">
        <div class="row g-0 mt-3">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4">
            <div class="details2 text-end">
              <p class="fw-bold">{{data.shipment.booking_order_number}}</p>
              <p class="fw-bold mt-1">{{data.shipment.date}}</p>
            </div>
          </div>
        </div>

        <div class="shipment-details-section">
          <div class="row g-0">
            <div class="col-12">
              <h5 class="main-heading fw-bold">Shipment Order Details</h5>
            </div>
          </div>
          <div class="row g-0 mt-3 lh-large">
            <div class="col-6">
              <div class="row">
                <div class="col-5">Name</div>
                <div class="col-7">{{data.shipment.full_name|title}}</div>
              </div>
              <div class="row">
                <div class="col-5">Email</div>
                <div class="col-7">{{data.shipment.email}}</div>
              </div>
              <div class="row">
                <div class="col-5">Phone No.</div>
                <div class="col-7">{{data.shipment.contact_number}}</div>
              </div>
              <div class="row">
                <div class="col-5">Delivery Option</div>
                <div class="col-7 fw-bold">
                  By {{data.shipment.delivery_option|title}}
                </div>
              </div>
              <div class="row">
                <div class="col-5">Delivery Type</div>
                <div class="col-7 fw-bold">
                  {{data.shipment.delivery_type|title}} Delivery
                </div>
              </div>
              <div class="row">
                <div class="col-5">Package Weight</div>
                <div class="col-7">
                  {{data.shipment.shipment.package_weight}} Kg
                </div>
              </div>
              <div class="row">
                <div class="col-5">No. of Packages</div>
                <div class="col-7">{{data.shipment.number_of_packages}}</div>
              </div>
            </div>
            <div class="col-6"></div>
          </div>
        </div>

        <div class="address-details mt-3">
          {% if data.shipment.shipment_type == "Home Pickup" %}
          <div class="row g-0">
            <div class="col-5">
              <h5 class="main-heading fw-bold">Pickup Address</h5>
              <div class="row g-0 mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">Name</div>
                    <div class="col-7">{{data.shipment.sender_name|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Address</div>
                    <div class="col-7">{{data.shipment.sender_address|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">City</div>
                    <div class="col-7">{{data.shipment.sender_city|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Pincode</div>
                    <div class="col-7 fw-bold">
                      {{data.shipment.sender_pincode}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">State</div>
                    <div class="col-7">{{data.shipment.sender_state|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Country</div>
                    <div class="col-7">{{data.shipment.sender_country|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Contact No.</div>
                    <div class="col-7">{{data.shipment.sender_contact_no}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
              <h5 class="main-heading fw-bold">Delivery Address</h5>
              <div class="row g-0 mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">Name</div>
                    <div class="col-7">{{data.shipment.receiver_name|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Address</div>
                    <div class="col-7">
                      {{data.shipment.receiver_address|title}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">City</div>
                    <div class="col-7">{{data.shipment.receiver_city|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Pincode</div>
                    <div class="col-7 fw-bold">
                      {{data.shipment.receiver_pincode}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">State</div>
                    <div class="col-7">{{data.shipment.receiver_state|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Country</div>
                    <div class="col-7">
                      {{data.shipment.receiver_country|title}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">Contact No.</div>
                    <div class="col-7">{{data.shipment.receiver_contact_no}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-6">
              <h5 class="main-heading fw-bold">Delivery Address</h5>
              <div class="row g-0 mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">Name</div>
                    <div class="col-7">{{data.shipment.receiver_name|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Address</div>
                    <div class="col-7">
                      {{data.shipment.receiver_address|title}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">City</div>
                    <div class="col-7">{{data.shipment.receiver_city|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Pincode</div>
                    <div class="col-7 fw-bold">
                      {{data.shipment.receiver_pincode}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">State</div>
                    <div class="col-7">{{data.shipment.receiver_state|title}}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Country</div>
                    <div class="col-7">
                      {{data.shipment.receiver_country|title}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">Contact No.</div>
                    <div class="col-7">{{data.shipment.receiver_contact_no}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5"></div>
          </div>
          {% endif %}
        </div>
        <div class="shipment-details-section mt-5 mb-5">
          <div class="row g-0">
            <div class="col-12">
              <h5 class="main-heading fw-bold">Shipment Details</h5>
            </div>
          </div>
          <div class="row g-0 mt-3 lh-large">
            <div class="col-6">
              <h6 class="main-heading">Delivery Status</h6>
              <div class="row">
                <div class="col-6">Status</div>
                <div class="col-6 fw-bold">{{data.status|title}}</div>
              </div>
              {% if data.is_returned == False %}
              <div class="row">
                <div class="col-6">Tracking Number</div>
                <div class="col-6">{{data.tracking_number}}</div>
              </div>
              {% if data.estimated_delivery_date %}
              <div class="row">
                <div class="col-6">Expected Delivery Date</div>
                <div class="col-6">{{data.estimated_delivery_date}}</div>
              </div>
              {% endif %}
              {% endif %}

               {% if data.is_returned == False  %}
               {% if data.is_arrived == False  %}
                <div class="row">
                    <div class="col-6">Current Location</div>
                    <div class="col-6">{{ data.current_location }}</div>
                </div>
                {% endif %}
                {% endif %}

              {% if data.shipped_date %}
              <div class="row">
                <div class="col-6">Shipped Date</div>
                <div class="col-6">
                 {{data.shipped_date}}
                </div>
              </div>
              {% endif %}

              {% if data.destination_hub_arrival_date %}
              <div class="row">
                <div class="col-6">Destination Hub Arrival Date</div>
                <div class="col-6">
                  {{data.destination_hub_arrival_date}}
                </div>
              </div>
              {% endif %}

              {% if data.delivery_date %}
              <div class="row">
                <div class="col-6">Delivered Date</div>
                <div class="col-6">
                 {{data.delivery_date}}
                </div>
              </div>
              {% endif %}

              {% if data.return_processed_date %}
              <div class="row">
                <div class="col-6">Return Processed Date</div>
                <div class="col-6">
                  {{data.return_processed_date}}
                </div>
              </div>
              {% endif %}


              
            </div>
            <div class="col-6">
              {% if data.is_returned %}
              <h6 class="main-heading">Return Status</h6>
              <div class="row">
                <div class="col-6">Status</div>
                <div class="col-6 fw-bold">{{data.return_status|title}}</div>
              </div>
              
              <div class="row">
                <div class="col-6">Tracking Number</div>
                <div class="col-6">{{data.tracking_number}}</div>
              </div>
              {% if data.estimated_delivery_date %}
              <div class="row">
                <div class="col-6">Expected Delivery Date</div>
                <div class="col-6">{{data.estimated_delivery_date}}</div>
              </div>
              {% endif %}

              

              {% if data.return_shipped_date %}
              <div class="row">
                <div class="col-6">Shipped Date</div>
                <div class="col-6">
                 {{data.return_shipped_date}}
                </div>
              </div>
              {% endif %}

              {% if data.arrived_for_return == False  %}
              {% if data.current_return_location %}
              <div class="row">
                <div class="col-6">Current Location</div>
                <div class="col-6">{{data.current_return_location}}</div>
              </div>
              {% endif %}
              {% endif %}

              {% if data.destination_hub_return_arrival_date %}
              <div class="row">
                <div class="col-6">Destination Hub Arrival Date</div>
                <div class="col-6">
                  {{data.destination_hub_return_arrival_date}}
                </div>
              </div>
              {% endif %}

              {% if data.returned_date %}
              <div class="row">
                <div class="col-6">Order Returned Date</div>
                <div class="col-6">
                 {{data.returned_date}}
                </div>
              </div>
              {% endif %}

              
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the status and return status from your backend data
        let status = "{{ data.status }}";
        const isReturned = "{{ data.is_returned }}"; // is_returned will be a string "True" or "False"
    
        // Convert isReturned to a boolean
        const isReturnedBoolean = (isReturned.toLowerCase() === 'true');
    
        // Use return status if the item is returned
        if (isReturnedBoolean) {
            status = "{{ data.return_status }}";
        }
    
        // Trim and convert status to lowercase for consistent comparison
        status = status.trim().toLowerCase();
    
        console.log("Order status:", status); // Debugging line
    
        const steps = {
            "processing": 1,
            "dispatched": 2,
            "in_transit": 3,
            "arrived_at_destination_hub": 4,
            "out_for_delivery": 5,
            "delivered": 6
        };
    
        function updateSteps(status) {
            const stepNumber = steps[status];
            console.log("Step number:", stepNumber); // Debugging line
            if (stepNumber) {
                for (let i = 1; i <= stepNumber; i++) {
                    document.getElementById(`step${i}`).classList.add("completed");
                    console.log(`Added completed to step${i}`); // Debugging line
                }
            } else {
                console.error("Status not found in steps mapping:", status);
            }
        }
    
        updateSteps(status);
    });
</script>
    
        

{% endblock %}
