

<div class="row row-cols-1 row-cols-md-3  g-3">

    <div class="col">
      <div class="card card1 h-100  p-3   rounded">
        <div class="card-body">
          <h3 class="text-black"><i class="fas fa-cogs"></i></h3>
          <h6 class="card-title text-black" >Enhanced Efficiency</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100  p-3   rounded">
        <div class="card-body">
          <h3 class="text-black"><i class="fas fa-map-marker-alt"></i></h3>
          <h6 class="card-title text-black" >Real-Time Tracking</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100  p-3   rounded">
        <div class="card-body">
          <h3 class="text-black"><i class="fas fa-dollar-sign"></i></h3>
          <h6 class="card-title text-black" >Cost Savings</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100  p-3  rounded">
        <div class="card-body">
          <h3 class="text-black"><i class="fa fa-user"></i></h3>
          <h6 class="card-title text-black" >Happy Customers</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100  p-3   rounded">
        <div class="card-body">
          <h3 class="text-black"><i class="fas fa-globe"></i></h3>
          <h6 class="card-title text-black" >Global Reach</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card1 h-100  p-3   rounded">
        <div class="card-body">
          <h3 class="text-black"><i class="fas fa-hands-helping"></i></h3>
          <h6 class="card-title text-black" >Reliable Support</h6>
        </div>
      </div>
    </div>
  
  </div>
  