
<!-- section to explain how system works -->

<div class="timeline">

    <div class="container1 left-container">
      <i class="fas fa-calendar-alt fs-3"></i>
      <div class="text-box">
        <h5 class="fw-bold mb-3">Book a Pickup</h5>
        <p>
          Customers can initiate a shipping request through the website.
          They provide necessary details such as pickup and delivery addresses, package weight, and desired delivery speed.
        </p>
        <span class="left-container-arrow"></span>
      </div>
    </div>

    <div class="container1 right-container">
      <i class="fas fa-calendar-check fs-3"></i>
      <div class="text-box">
        <h5 class="fw-bold mb-3">Shipping Availability Check</h5>
        <p>
          The system checks the availability of shipping services in the specified pickup and delivery locations.
          If shipping is available, the process continues; otherwise, the customer is informed.
        </p>
        <span class="right-container-arrow"></span>
      </div>
    </div>

    <div class="container1 left-container">
      <i class="fas fa-home fs-3"></i>
      <div class="text-box">
        <h5 class="fw-bold mb-3">Home Pickup Process/Drop-off at Shipping Center</h5>
        <p>
          If home pickup is chosen, the system schedules a pickup with a designated courier.
          Alternatively, customers can choose to drop off their package at a nearby shipping center.
        </p>
        <span class="left-container-arrow"></span>
      </div>
    </div>

    <div class="container1 right-container">
      <i class="fas fa-check-circle fs-3"></i>
      <div class="text-box">
        <h5 class="fw-bold mb-3">Product Verification & Weight Calculation</h5>
        <p>
          Upon receiving the package, the courier verifies its contents and weighs it to calculate shipping charges.
        </p>
        <span class="right-container-arrow"></span>
      </div>
    </div>
    
    <div class="container1 left-container mb-4 mb-lg-0">
      <i class="fas fa-truck fs-3"></i>
      <div class="text-box">
        <h5 class="fw-bold mb-3">Delivery to Receiver</h5>
        <p>
          Customers provide sender and receiver details.
          The system generates a unique tracking code for the shipment.
          The package is transported to the designated shipping center closest to the receiver's address.
          Once delivered, an executive updates the system with the delivery status.
        </p>
        <span class="left-container-arrow"></span>
      </div>
    </div>
    

</div>
