{% extends 'base.html' %}
{% load static %}

{% block title %}
Cargo Home
{% endblock %}


{% block content %}

<!-- navbar section -->
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            {% include 'home_navbar.html' %}
        </div>
    </div>
    
</div>

<!--section 1 -->

<section id="section1">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mt-5">
                <h1>Moving your Products</h1>
                <h1 class="ms-5">Across all Borders</h1>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

</section>


<style>
    #section1{
        height: 100vh;
    }
</style>


{% endblock %}

