{% extends 'base.html' %}
{% load static %}

{% block title %}
Cargo Home
{% endblock %}


{% block content %}


<div class="container">
   
    
</div>

<!-- start section 1 -->

<section id="section1" class="parallax-section">
    <div class="container">
        <!-- Content goes here -->
        <div class="row">
            <div class="col-md-12 mt-lg-5 mt-1">
                {% include 'home_navbar.html' %}
            </div>
        </div>
        <div class="row mt-3 mt-lg-5">
            <div class="col-lg-6 mt-lg-5 mt-0">
                <h2 class="fw-bold text-white">Breaking Down Barriers in Logistics</h2>
                <h6 class="mt-lg-3 mt-0 lh-base" style="text-align: justify;color: rgba(255, 255, 255, 0.8);">
                    Experience the efficiency of Streamlined Shipping Across Global Boundaries with our Cargo Management System. 
                    Our platform simplifies the complexities of international logistics, ensuring smooth and seamless transportation of goods across borders. 
                    From customs clearance to delivery, we optimize every step of the process, empowering your business to thrive in the global marketplace.
                </h6>
                <button class="btn btn-dark mt-lg-3 mt-1">Book Now</button>
            </div>
            <div class="col-lg-6 mt-lg-5 mt-3">
                <img src="{% static 'images/home_page/cargo_home.png' %}" class="img-fluid rounded-start mt-lg-5 mt-2" alt="img">
            </div>
        </div>
    </div>
</section>

<!-- end section 1 -->

<!-- start section 2 -->

<section id="section2">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-5 mt-lg-3 mt-0">
                <h3 class="text-black fw-bold mt-lg-3 mt-0">Why Choose Us..?</h3>
                
                <p class="mt-lg-3 mt-0 lh-base" style="text-align: justify;">
                    With our Cargo Management System, navigating international trade has never been easier. 
                    Say goodbye to complexities and delays as we streamline the shipping process across global boundaries. 
                    Our platform ensures smooth movement of your products, allowing you to expand your market reach effortlessly. 
                    Experience the power of seamless cross-border logistics with us.

                </p>
                <button class="btn btn-dark mt-lg-3 mt-1">Book Now</button>
                <img src="{% static 'images/home_page/s2img.webp' %}" class="img-fluid rounded-start mt-lg-3 mt-1" alt="img">
                
            </div>
            <div class="col-md-2 mt-lg-3 mt-0"></div>
            <div class="col-md-5 mt-lg-3 mt-0">
                <h3 class="text-black fw-bold mt-lg-3 mt-0">We offer the</h3>
                <h3><span class="fw-bold s2header">Highest Quality Services</span></h3>
                <div class="row mt-lg-5 mt-3 justify-content-center">
                    <div class="col-md-4 text-center">
                        <div class="rounded-image d-inline-block mt-lg-1 mt-3">
                            <img src="{% static 'images/home_page/s2aeroplane.png' %}" alt="Image">
                            <div class="overlay">
                              <div class="overlay-text">
                                Air Cargo
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="rounded-image d-inline-block mt-lg-1 mt-3">
                            <img src="{% static 'images/home_page/s2ship.png' %}" alt="Image">
                            <div class="overlay">
                              <div class="overlay-text">
                                Sea Cargo
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="rounded-image d-inline-block mt-lg-1 mt-3">
                            <img src="{% static 'images/home_page/s2truck.png' %}" alt="Image">
                            <div class="overlay">
                              <div class="overlay-text">
                                Road Cargo
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-lg-5 mt-5">
                    
                    <div class="col-md-6">
                        <ul class="arrow-list mb-5">
                            <li><h5><i class="fa fa arrow-right"></i>Global shipping made easy</h5></li>
                            <li><h5>Instant tracking updates</h5></li>
                            <li><h5>Hassle-free customs clearance</h5></li>
                            <li><h5>Personalized shipping options</h5></li>
                            <li><h5>24/7 customer assistance</h5></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="arrow-list">
                            <li>
                                <h5>Flexible delivery options</h5>
                            </li>
                            <li>
                                <h5>Expert logistics support</h5>
                            </li>
                            <li><h5>Effortless returns process</h5></li>
                            <li><h5>Secure packaging solutions</h5></li>
                            <li><h5>Timely delivery guarantee</h5></li>
                        </ul>
                    </div>
                    

                </div>
            </div>
        </div>
        
    </div>

</section>

<!-- end section 2 -->

<!-- start section 3 -->

<section id="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          
          <div class="timeline-container">
              <div class="timeline">
                <div class="progress-bar"></div>
                <div class="timeline-item" data-animation="fadeIn" style="--delay: 0s;">
                  <div class="timeline-content">
                    <h3>Booking</h3>
                    <p>February 20, 2024</p>
                  </div>
                  <div class="icon"></div>
                  <div class="arrow"></div>
                </div>
                <div class="timeline-item" data-animation="fadeIn" style="--delay: 0.5s;">
                  <div class="timeline-content">
                    <h3>Processing</h3>
                    <p>February 21, 2024</p>
                  </div>
                  <div class="icon"></div>
                  <div class="arrow"></div>
                </div>
                <div class="timeline-item" data-animation="fadeIn" style="--delay: 1s;">
                  <div class="timeline-content">
                    <h3>Shipped</h3>
                    <p>February 22, 2024</p>
                  </div>
                  <div class="icon"></div>
                  <div class="arrow"></div>
                </div>
                <div class="timeline-item" data-animation="fadeIn" style="--delay: 1.5s;">
                  <div class="timeline-content">
                    <h3>Delivered</h3>
                    <p>February 23, 2024</p>
                  </div>
                  <div class="icon"></div>
                </div>
              </div>
          </div>
          






      </div>
    </div>
  </div>

</section>









<!-- end section 3 -->

<!-- start footer section -->
<section id="footer">
    <div class="container">
        {% include 'footer.html' %}
        
    </div>
    
</section>


<!-- end footer section -->


<style>
    #section1{
        background-color: rgb(66, 28, 82);
        height: 100dvh;
    }
    


    #section2{
        background-color: rgb(255, 255, 255);;
    }
    .s2header{
        color:rgb(66, 28, 82);
        
    }
    #section3{
        background-color: rgb(3, 3, 3);;
    }
    #footer{
        background-color: rgb(66, 28, 82);
    }

</style>

<style>
    .rounded-image {
      width: 135px;
      height: 135px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      transition: transform 0.3s;
      background-color: rgba(245, 230, 255, 0.75);
      
    }

    .rounded-image:hover {
      transform: scale(1.1);
      transition: all 1s;
    }

    .rounded-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .rounded-image .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .rounded-image:hover .overlay {
      opacity: 1;
    }

    .rounded-image .overlay-text {
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: bolder;
      text-align: center;
      padding: 10px;
    }

</style>

<style>
    ul.arrow-list {
      list-style: none;
      padding-left: 20px; /* Adjust as needed */
    }
  
    ul.arrow-list li {
      background-image: url("{% static 'images/home_page/arrow3.png' %}"); /* Replace with your image path */
      background-repeat: no-repeat;
      padding-left: 20px; /* Adjust as needed */
      margin-bottom: 5px; /* Adjust as needed */
    }
</style>




{% endblock %}

