<!-- footer -->

<!-- address  footer section -->
<div class="row">
  <div class="col-lg-3 mt-5 mb-5">
    <h5 class="text-white fw-bold">Cargo</h5>
    <div class="row mt-4 cargo-item">
      <div class="col-md-2">
        <i class="fas fa-map-marker-alt fs-5"></i>
      </div>
      <div class="col-md-10">
        <h6>Location</h6>
        <h6>
          1st Floor - Thapasya Building Infopark
          Kakkanad, Cochin
        </h6>
      </div>
    </div>

    <div class="row mt-3 cargo-item">
      <div class="col-md-2">
        <i class="fa fa-envelope fs-5"></i>
      </div>
      <div class="col-md-10">
        <h6>Email</h6>
        <h6>
          info@altostechnologies.com
        </h6>
      </div>
    </div>

    <div class="row mt-3 cargo-item">
      <div class="col-md-2">
        <i class="fa fa-phone fs-5"></i>
      </div>
      <div class="col-md-10">
        <h6>Phone No</h6>
        <h6>
          +91 90741 56818
        </h6>
      </div>
    </div>
   
    
  </div>

  <!-- service footer section -->
  <div class="col-lg-3 mt-5 mb-5 " id="footer2">
    <h5 class="text-white fw-bold">Services</h5>
    <div class="row mt-4">
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Air Cargo</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Sea Cargo</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Road Cargo</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Door to Door Services</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Normal Delivery</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Speed Delivery</span></h6>

    </div>
  </div>

  <!-- quick links footer section -->
  <div class="col-lg-3 mt-5 mb-5" id="footer2">
    <h5 class="text-white fw-bold">Quick Links</h5>
    <div class="row mt-4">
      <a href="{% url 'aboutus' %}" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">About US</span></a>
      <a href="{% url 'contactus' %}" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Contact Us</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Offers</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Tracking</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Book Now</span></a>
      <a href="{% url 'careers' %}" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Careers</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Volume Calculator</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">FAQ</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Gallery</span></a>
      <a href="#" class="h6 quick-item text-decoration-none"><i class="fas fa-chevron-right fs-6"></i><span class="ms-3">Terms and Conditions</span></a>


    </div>
  </div>

  <!-- social media footer section -->
  <div class="col-lg-3 mt-5 mb-5" id="footer3">
    <h5 class="text-white fw-bold social-title">Social Accounts</h5>
    <div class="row mt-4">
      <a href="#" class="h6 social-item fb text-decoration-none"><i class="fab fa-facebook-square fs-5"></i><span class="ms-3">Facebook</span></a>
      <a href="#" class="h6 social-item insta text-decoration-none"><i class="fab fa-instagram-square fs-5 "></i><span class="ms-3">Instagram</span></a>
      <a href="#" class="h6 social-item ln  text-decoration-none"><i class="fab fa-linkedin fs-5 "></i><span class="ms-3">Linkedin</span></a>
      <a href="#" class="h6 social-item whatsapp text-decoration-none"><i class="fab fa-whatsapp-square fs-5 "></i><span class="ms-3">Whatsapp</span></a>
      <a href="#" class="h6 social-item youtube text-decoration-none"><i class="fab fa-youtube-square fs-5 "></i><span class="ms-3">YouTube</span></a>
    
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-white mb-3">
    <h6 class="text-center copyright">Copyright <i class="fa fa-copyright"></i> 2024 Cargo. All Rights Reserved.</h6>
  </div>
</div>



<style>

  /* style for cargo items */
  .cargo-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .cargo-item:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(5px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }

  /* style for service items */
  .service-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .service-item:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }

  /* style for quick links */
  .quick-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  
  .quick-item:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }
  

  /* style for social media icon */
  .social-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
 
  .social-item:hover {
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }

  .social-title:hover-effect {
    color:rgb(254, 171, 120);
    text-decoration: underline;
  }
  
  .fb:hover {
    color: #548afd;
    
  }
  .insta:hover {
    background-image: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    
  }
  .ln:hover {
    color: #0077b5 ;
    
  }
  .whatsapp:hover {
    color: #4fce5d;
    
  }
  .youtube:hover {
    color: #CD201F;
    
  }

  
  
  
</style>
