<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="fw-bold fs-4 text-danger">Cargo</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Air Cargo</a></li>
              <li><a class="dropdown-item" href="#">Sea Cargo</a></li>
              <li><a class="dropdown-item" href="#">Road</a></li>
              <li><a class="dropdown-item" href="#">Door to Door Services</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Tracking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Gallery & Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Blogs and News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Offers</a></li>
              <li><a class="dropdown-item" href="#">Volume Calculator</a></li>
              <li><a class="dropdown-item" href="#">Terms & Conditions</a></li>
              <li><a class="dropdown-item" href="#">FAQ</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              
            </ul>
          </li>
          
        </ul>
        
      </div>
    </div>
</nav>


<!-- /* Common styles for all screen sizes */ -->
<style>
    .navbar-nav .nav-item .active {
        color: rgb(220, 53, 69);
    }
    .navbar-nav .nav-item .nav-link {
       font-weight: 600;
          
    }
    .navbar-nav .nav-item .nav-link:hover {
        color: rgb(220, 53, 69);
        
    }
   
</style>


<!-- /* Styles specific to screens smaller than 768px (typical mobile devices) */ -->
<!-- <style>
    
    @media (max-width: 767.98px) {
        .navbar-nav .nav-item .active {
            color: rgb(220, 53, 69);
        }
        
        

    }
    @media (max-width: 767.98px) {
        .navbar-nav .nav-item .nav-link {
            font-weight: 600;
            
          
        }
    }
    @media (max-width: 767.98px) {
        .navbar-nav .nav-item .nav-link:hover {
            color: rgb(220, 53, 69);
            
        }
    }
</style> -->

{% extends 'base.html' %}
{% load static %}

{% block title %}
Cargo Home
{% endblock %}


{% block content %}

<!-- navbar section -->
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            {% include 'home_navbar.html' %}
        </div>
    </div>
    
</div>

<!--section 1 -->

<section id="section1">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mt-5">
                <h1>Moving your Products</h1>
                <h1 class="ms-5">Across all Borders</h1>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

</section>


<style>
    #section1{
        height: 100vh;
    }
</style>


{% endblock %}

