<!-- footer -->

<div class="row mt-5">
  <div class="col-lg-3 mt-5 mb-5">
    <h5 class="text-white fw-bold">Cargo</h5>
    <div class="row mt-4">
      <div class="col-md-2">
        <i class="text-white fa fa-map-marker fs-4"></i>
      </div>
      <div class="col-md-10">
        <h6 class="text-white">Location</h6>
        <h6 class="text-white">
          1st Floor - Thapasya Building Infopark
          Kakkanad, Cochin
        </h6>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <i class="text-white fa fa-envelope fs-4"></i>
      </div>
      <div class="col-md-10">
        <h6 class="text-white">Email</h6>
        <h6 class="text-white">
          info@altostechnologies.com
        </h6>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <i class="text-white fa fa-phone fs-4"></i>
      </div>
      <div class="col-md-10">
        <h6 class="text-white">Phone No</h6>
        <h6 class="text-white">
          +91 90741 56818
        </h6>
      </div>
    </div>
   
    
  </div>


  <div class="col-lg-3 mt-5 mb-5 " id="footer2">
    <h5 class="text-white fw-bold">Services</h5>
    <div class="row mt-4">
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Air Cargo</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Sea Cargo</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Road Cargo</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Door to Door Services</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Normal Delivery</span></h6>
      <h6  class="service-item"><i class="fas fa-chevron-right fs-6 "></i><span class="ms-3 ">Speed Delivery</span></h6>

    </div>
  </div>
  <div class="col-lg-3 mt-5 mb-5" id="footer2">
    <h5 class="text-white fw-bold">Quick Links</h5>
    <div class="row mt-4">
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">About US</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Contact Us</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Offers</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Tracking</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Book Now</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Careers</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Volume Calculator</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">FAQ</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Gallery</a></h6>
      <h6 class="quick-item"><i class="fas fa-chevron-right fs-6"></i><a href="#" class="ms-3  text-decoration-none">Terms and Conditions</a></h6>


    </div>
  </div>
  <div class="col-lg-3 mt-5 mb-5" id="footer3">
    <h5 class="text-white fw-bold">Social Accounts</h5>
    <div class="row mt-4">
      <h6 class="social-item fb"><i class="fab fa-facebook-square fs-5 "></i><a href="#" class="ms-3 text-decoration-none fb">Facebook</a></h6>
      <h6 class="social-item insta"><i class="fab fa-instagram-square fs-5 "></i><a href="#" class="ms-3  text-decoration-none insta">Instagram</a></h6>
      <h6 class="social-item ln"><i class="fab fa-linkedin fs-5 "></i><a href="#" class="ms-3  text-decoration-none ln">Linkedin</a></h6>
      <h6 class="social-item whatsapp"><i class="fab fa-whatsapp-square fs-5 "></i><a href="#" class="ms-3  text-decoration-none whatsapp">Whatsapp</a></h6>
      <h6 class="social-item youtube"><i class="fab fa-youtube-square fs-5 "></i><a href="#" class="ms-3  text-decoration-none youtube">YouTube</a></h6>
    
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-white mb-3">
    <h6 class="text-center copyright">Copyright <i class="fa fa-copyright"></i> 2024 Cargo. All Rights Reserved.</h6>
  </div>
</div>



<style>
  .service-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .service-item:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }
  .quick-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .quick-item a{
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .quick-item:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }
  .quick-item a:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }

  .social-item {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .social-item a{
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease; /* Smooth transition for transform property */
    
  }
  .social-item:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateX(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }
  .social-item a:hover {
    color:rgb(254, 171, 120);
    cursor: pointer;
    transform: translateZ(10px) scale(1.05); /* Move text to the right and increase size on hover */
    
  }
  .fb:hover {
    color:rgb(0, 89, 255);
    
  }
  .insta:hover {
    color:rgb(255, 0, 119);

    
  }
  .ln:hover {
    color:rgb(110, 139, 255);
    
  }
  .whatsapp:hover {
    color:rgb(0, 202, 44);
    
  }
  .youtube:hover {
    color:rgb(255, 0, 0);
    
  }

  .social-item a.fb:hover {
    color:rgb(0, 89, 255);
    
    
  }
  .social-item a.insta:hover {
    color:rgb(255, 0, 119);
    
    
  }
  .social-item a.ln:hover {
    color:rgb(110, 139, 255);
    
    
    
  }
  .social-item a.whatsapp:hover {
    color:rgb(0, 202, 44);
    
    
  }
  .social-item a.youtube:hover {
    color:rgb(255, 0, 0);
    
    
  }
  
  
</style>