{% load static %}

<!-- section for testimonials -->

<div class="container shadow" style="background-color: rgb(253, 248, 255); border-radius: 10px;border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0);height: 100%;">
    <div id="carouselExampleInterval" class="carousel slide carousel-dark p3 mb-5 mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active h-100" data-bs-interval="4000" >
        <div class="row mt-2">
            <div class="col-lg-4"> 
                <div class="profile">
                    <div class="img h-100">
                        <img src="{% static 'images/home_page/test1.jpg' %}" class="rounded-circle img-fluid mt-3 " alt="img">
                    </div>
                    <div class="row">
                        <h6 class="mt-2 text-center">John Doe</h6>
                        <p class="text-center">CEO of ABC Enterprises</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-8">
                <div class="bio">
                    <i class="fa fa-quote-left mt-3"></i>
                    <p class="lh-lg" style="text-align: justify;">
                        Using the Cargo Management System has been a game-changer for our company. 
                        We've seen a significant improvement in our shipping process, 
                        with packages reaching their destinations faster and more reliably than ever before. 
                        The real-time tracking feature has been invaluable, allowing us to keep our customers informed every step of the way. Highly recommend! 
                        
                    </p><i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>
        </div>
        <div class="carousel-item h-100" data-bs-interval="4000">
        <div class="row mt-2">
            <div class="col-lg-4">
                <div class="profile">
                    <div class="img h-100">
                        <img src="{% static 'images/home_page/test2.jpg' %}" class="rounded-circle img-fluid mt-3" alt="img">
                    </div>
                    <div class="row">
                        <h6 class="mt-2 text-center">Jane Smith</h6>
                        <p class="text-center">Owner of XYZ Boutique</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-8">
                <div class="bio">
                    <i class="fa fa-quote-left mt-3"></i>
                    <p class="lh-lg" style="text-align: justify;">
                        As a small business owner, I was hesitant to invest in a shipping management system, 
                        but I'm so glad I did. The Cargo Management System has saved me countless hours of manual work and helped me 
                        streamline my operations. 
                        Thank you for making shipping so much easier for me!
                    </p><i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>

        </div>
        <div class="carousel-item h-100" data-bs-interval="4000">
        <div class="row mt-2">
            <div class="col-lg-4">
                <div class="profile">
                    <div class="img h-100">
                        <img src="{% static 'images/home_page/test3.jpg' %}" class="rounded-circle img-fluid mt-3" alt="img" >
                    </div>
                    <div class="row">
                        <h6 class="mt-2 text-center">David Johnson,</h6>
                        <p class="text-center">Owner of GlobalTech Inc</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-8">
                <div class="bio">
                    <i class="fa fa-quote-left mt-3"></i>
                    <p class="lh-lg" style="text-align: justify;">
                        I've worked with several shipping platforms, but none compare to the Cargo Management System. 
                        The level of customization and flexibility it offers is unparalleled, allowing us to tailor our shipping process to meet our specific needs. 
                        The data-driven insights have also been incredibly valuable, helping us identify areas for improvement and optimize our operations. 
        
                    </p><i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
