{% extends 'base.html' %}
{% load static %}

<!-- title for the career page -->
{% block title %}
Careers - Cargo
{% endblock %}

<!-- css link for career page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'css/careers.css' %}">
{% endblock %}


<!-- contents for career page -->
{% block content %}

<!-- start nav-section  -->
<div class="nav-section">
  <div class="container">
    <div class="row">
      <!-- include home navbar section -->
      <div class="col-lg-12 mt-lg-5 mt-1">
        {% include 'navbars/others_navbar.html' %}
      </div>
    </div>
      

  </div>
</div>

<!-- end nav-section  -->

<!-- start career section -->

<section id="career-section">
  <div class="container">
    <div class="row mt-3 mt-lg-5">
      <div class="col-lg-12 mt-lg-5 mt-0">
        <h2 class="main-heading fw-bold ">Careers</h2>
        <h6 class="mt-lg-3 mt-0 lh-base " style="text-align: justify;color: rgba(31, 31, 31, 0.8);">
          Ready to take the next step in your career? At Cargo, 
          we're always on the lookout for talented individuals who are passionate about revolutionizing the world of shipping. 
          Whether you're a logistics expert, a tech whiz, or a customer service superstar, we have opportunities for you to grow and thrive. 
          Join our dynamic team and be part of a company that values innovation, collaboration, and excellence. 
          Explore our current openings below and discover how you can make an impact with us.
        </h6>



        <div class="row row-cols-1 row-cols-md-1 g-4 mt-3">

          <div class="col">
            <div class="card h-100 p-3">
              <div class="card-body">
                <input type="checkbox"  id="ch">
                <h5 class="card-title ">Logistics Coordinator</h5>
                <p class="card-text mt-2">Location: Kochi <span class="ms-5">Experience: 1+ years</span></p>
                
                <div class="card-content">
                  <p class="fw-bold">Responsibilities</p> 
                  <p style="text-align: justify;">
                    Coordinate and monitor shipments from origin to destination.
                    Communicate with carriers, suppliers, and customers to ensure timely delivery of goods.
                    Manage documentation and customs clearance processes.
                    Resolve any shipping-related issues or delays.
                    Optimize logistics operations to improve efficiency and reduce costs.
                  </p>
                  <p class="fw-bold">Requirements</p>
                  <p style="text-align: justify;">
                    Bachelor's degree in logistics, supply chain management, or a related field.
                    Proven experience in logistics coordination or freight forwarding.
                    Strong communication and problem-solving skills.
                    Ability to work in a fast-paced environment and prioritize tasks effectively.
                    Knowledge of international shipping regulations and procedures.
                  </p>
                  <p>Interested candidates can forward their resume to <span class="fw-bold">hr@cargo.com</span> or <a class="text-decoration-none main-heading" href="#apply-section"><u>apply here</u></a></p>
                  
                  <label class="labelch mt-3" for="ch">Show less</label>
                     
                </div>
                <label class="labelch mt-2" for="ch">Read more</label>
                
                
                

              </div>
            </div>
          </div>

          <!-- <div class="col">
            <div class="card h-100 p-3">
              <div class="card-body">
                <input type="checkbox"  id="ch">
                <h5 class="card-title ">Software Developer</h5>
                <p class="card-text mt-2">Location: Kochi <span class="ms-5">Experience: 2+ years</span></p>
                
                <div class="card-content">
                  <p class="fw-bold">Responsibilities</p> 
                  <p style="text-align: justify;">
                    Design, develop, and maintain software solutions for our Cargo Management System.
                    Collaborate with cross-functional teams to gather requirements and implement new features.
                    Test and debug software to ensure optimal performance and reliability.
                    Continuously improve existing systems and processes.
                    Stay up-to-date with emerging technologies and industry trends.
                  </p>
                  <p class="fw-bold">Requirements</p>
                  <p style="text-align: justify;">
                    Bachelor's degree in computer science, software engineering, or a related field.
                    Proficiency in programming languages such as Python, JavaScript, or Java.
                    Experience with web development frameworks such as Django or React.
                    Strong problem-solving and analytical skills.
                    Ability to work independently and in a team environment.
                  </p>
                  <p>Interested candidates can forward their resume to <span class="fw-bold">hr@cargo.com</span> or <a class="text-decoration-none main-heading" href="">apply here</a></p>
                  
                  <label class="mt-3" for="ch">Show less</label>
                     
                </div>
                <label class="mt-2" for="ch">Read more</label>
                
                
                

              </div>
            </div>
          </div> -->




          
        </div>




      </div>
    </div>
  </div>
</section>



<!-- end career section -->

<!-- start apply section -->
<section id="apply-section">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        
        <div class="row-cols-1 row-cols-md-1 g-4 ">
          
          <div class="card card1 h-100 p-3" style="width: 100%;">
            <h4 class="main-heading mt-3">Quick Apply</h4>
            <div class="card-body">
              <form action="">
    
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
                      <label for="floatingInput">First Name</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="Last Name">
                      <label for="floatingInput">Last Name</label>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                      <label for="floatingInput">Email</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="Phone Number">
                      <label for="floatingInput">Phone Number</label>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option value="" hidden>Select</option>
                        <option value="1">Logistics Coordinator</option>
                        <option value="1">Software Developer</option>
                        
                      </select>
                      <label for="floatingSelect">Applied for</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="file" class="form-control" id="floatingInput" >
                      <label for="floatingInput">Resume/CV</label>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-6 mt-3">
                    <button class="btn btn-outline-dark w-50">Submit</button>
                  </div>
                </div>
      
              </form>
            </div>
          </div>
          
        </div>
  
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>




<!-- end apply section -->


<!-- start footer section -->
<section id="footer">
  <div class="container">
    {% include 'footer.html' %}
      
  </div>
    
</section>

<!-- end footer section -->





<style>
  .main-heading{
    color:rgb(66, 28, 82);
    
  }
  .nav-section{
    background-color: rgb(66, 28, 82);
      
  }
  #career-section{
    background-color: white;
  }
  #ch{
    display: none;
  }
  #ch:checked ~ .card-content{
    display: block;
  }
  #ch:checked ~ label{
    display: none;
  }
  .labelch{
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: rgb(66, 28, 82);
    padding: 3px 13px;
    border-radius: 3px;
  }
  .card-content{
    display: none;
  }

  .card1 {
  
    background: linear-gradient(to bottom, rgb(242, 241, 241),rgb(253, 244, 239), rgb(254, 238, 254));
    color: rgb(0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
      
  }

  .card1:hover {
    
    box-shadow: 0px 0px 10px rgba(5, 0, 7, 0.6);
    cursor: pointer;

  }
  #footer{
    background-color: rgb(66, 28, 82);
  }
</style>
  

{% endblock %}