{% extends 'base.html' %}
{% load static %}

<!-- title for the career page -->
{% block title %}
Careers - Cargo
{% endblock %}

<!-- css link for career page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'css/careers.css' %}">
{% endblock %}


<!-- contents for career page -->
{% block content %}

<!-- start nav-section  -->
<div class="nav-section">
  <div class="container">
    <div class="row">
      <!-- include home navbar section -->
      <div class="col-lg-12 mt-lg-5 mt-1">
        {% include 'navbars/others_navbar.html' %}
      </div>
    </div>
      

  </div>
</div>

<!-- end nav-section  -->

<!-- start career section -->

<section id="career-section">
  <div class="container">
    <div class="row mt-3 mt-lg-5">
      <div class="col-lg-12 mt-lg-5 mt-0">
        <h2 class="main-heading fw-bold ">Careers</h2>
        <h6 class="mt-lg-3 mt-0 lh-base " style="text-align: justify;color: rgba(31, 31, 31, 0.8);">
          Ready to take the next step in your career? At Cargo, 
          we're always on the lookout for talented individuals who are passionate about revolutionizing the world of shipping. 
          Whether you're a logistics expert, a tech whiz, or a customer service superstar, we have opportunities for you to grow and thrive. 
          Join our dynamic team and be part of a company that values innovation, collaboration, and excellence. 
          Explore our current openings below and discover how you can make an impact with us.
        </h6>
        <!-- include current opening cards -->
        {% include 'careers/current_opening_cards.html' %}

      </div>
    </div>
  </div>
</section>

<!-- end career section -->



<!-- start apply section -->
<section id="apply-section">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <!-- include quick apply form card  -->
        {% include 'careers/apply_form.html' %}
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

<!-- end apply section -->



<!-- start footer section -->
<section id="footer">
  <div class="container">
    {% include 'footer.html' %}
      
  </div>
    
</section>

<!-- end footer section -->

  

{% endblock %}





